<div class="container" id="Colaborar" style="padding-top: 5rem;">
    <h2 class="text-center mb-4 fw-bold mb-3" style="color: #2A2D72">¿Te gustaria colaborar?</h2>
    <p class="text-center fs-5" style="margin-bottom:5rem;">Puedes colaborar de diferente manera</p>

    <div class="text-cente row gap-3 mt-5">
        <div class="col">
            <button type="button" class="btn text-center container-fluid rounded-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="button" >
                Donaciones de elementos
            </button>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">¿Qué elementos puedo donar?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start">
                            <p>Podes acercar a nuestra institución elementos como:</p>
                            <ul>
                                <li>Camas ortopédicas</li>
                                <li>Silla de ruedas</li>
                                <li>Muletas</li>
                                <li>Bastones</li>
                                <li>Inodoros portátiles </li>
                                <li>Cabestrillos</li>
                                <li>Colchones antiescaras</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="col">
            <button type="button" class="btn text-center container-fluid rounded-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" id="button">
                Donaciones monetarias
            </button>
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Ups!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start">
                        Aún en construcción!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col">
            <button type="button" class="btn text-center container-fluid rounded-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop3" id="button">
                Colaborar con lo que sé hacer!
            </button>
            <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Ayudanos con tu tiempo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-start">
                            <p>A veces necesitamos:</p>
                            <ul>
                                <li>Flete para buscar los elementos prestados/donados a domicilio
                                </li>
                                <li>Jardinero para cuidar las plantas de la institución</li>
                                <li>Limpieza de los techos</li>
                                <li>Reparaciones de elementos ortopédicos</li>
                                <li>Pintor. Nunca viene mal una buena mano de pintura!</li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>