<div id="quienessomos" style="background-color: #091732; padding: 5rem 0  ;">
    <h2 class="text-center mb-4" style="color: #fff; font-size: 3rem;">¿Quiénes somos?</h2> 
    <div class="text-wrap text-center container-fluid" style="width: 90%; color:#fff;" >
        <p class="fs-5">La Escuela Superior de Enfermería brinda una educación integral, innovadora y de
            avanzada en el área de Enfermería con una continuidad en la formación por más de 30
            años.</p>
        <p class="fs-5">Nuestras instalaciones se encuentran dentro del predio del Hospital Provincial
            “San José”, entre las calles Urquiza al Norte, al Sur limita con calle Castelli, al Oeste con
            calle Iriondo y al Este calle Libertad donde se encuentra nuestro ingreso.-
            
             Siendo el Hospital Provincial “San José”, con más de 130 años de trayectoria, y los
            6 Centros de Atención Primaria de la Salud, los ámbitos para el desarrollo de la Práctica
            Profesionalizante uno de los ejes en la formación de los estudiantes. </p>
        <p class="fs-5">Nuestros egresados obtienen las herramientas para el desempeño profesional y en
            conjunto con el conocimiento adquirido son capaces de desempeñarse en las diferentes
            áreas de la profesión tanto en lo asistencial, la docencia, la investigación y el
            gerenciamiento de los servicios de enfermería, en Centros Asistenciales de baja, mediana
            o alta complejidad como en Instituciones formadores de este Recurso Humano. </p>
    </div>
</div>