<div class="card mb-3 border-light mb-5">
    <img src="assets/portada Banner Enfermeria.png" class="card-img-top" alt="frase de los enfermeros">
    <div class="card-body text-center ">
        <p class="card-text fs-5 mb-3" id="textoEnfer"> …”Aquí los valores humanos y el conocimiento científico se dan la
            mano, para que usted sea el que les de....una mano a los demás”…</p>    
    </div>
</div>

<!-- PRESTAMOS-->
<div class="container-fluid text-center py-4 px-0" style="background-color: #2a2d72 ;">
    <h3 style="color:#24799e;">PRÉSTAMOS</h3>
    <p class="fs-4" style="color:#fff;">Elementos ortopédicos</p>
    <a href="#" class="btn bg-light fs-5" style="color:#24799e; font-weight: bold;">SOLICITAR</a>
</div>
<div class="card" style="background-color:#24799e; border-radius: 0;">
    <div class="card-body">
      <h3 class="card-title text-center" style="color: #ffffff;">Nuestras Actividades e Institución</h3>
    </div>
    <img src="assets/banner2alpic.jpg" class="card-img-bottom" alt="actividades de Alpic" height="50%">
</div>

<!-- ARTICULOS-->
<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center m-5"> 
    <div class="col">
      <div class="card h-100 border-light">
        <div class="h-50">
            <img src="assets/leyes discapacidad.jpg" class="card-img-top" width="100%" height="auto" alt="leyes de discapacidad">
        </div>
        <div class="card-body">
            <h3 class="card-title">Leyes sobre Discapacidad</h3>
            <p class="card-text fs-5">Aquí podras enterarte sobre qué leyes que existen relacionado a la discapacidad en Argentina</p>
        </div>
        <div class="text-center">
            <a target="_blank" href="https://www.argentina.gob.ar/andis/legislacion-sobre-discapacidad" class="btn">Ver más</a>
        </div>
      </div>
    </div>
   
    <div class="col">
      <div class="card h-100 border-light">
        <div class="h-50">
            <img src="assets/vacunacion.jpeg" class="card-img-top " width="100%" height="auto" alt="consltas">
        </div>
        <div class="card-body">
            <h3 class="card-title">Calendario de Vacunacion</h3>
            <p class="card-text fs-5">En esta sección podras encontrar información útil acerca del calendario de vacunacion.</p>
        </div>
        <div class="text-center">
            <a target="_blank" href="https://xn--caadadegomez-bhb.com.ar/instituciones/organismos.html" class="btn" >Ver más</a>
        </div>
      </div>
    </div>
</div>